/* background color */
.bg-151938{
  background-color: #151938;
}

/* font color */
.fc-151938{
  color: #151938;
}

li, ul, a{
  text-decoration: none;
  list-style: none;
  color: inherit;
}


.profile{
  scroll-margin-top: 175px; 
} 


.Skills-section {
  scroll-margin-top: 100px; 
} 

.project-section{
  scroll-margin-top: 130px; 

}

.leadership-section{
  scroll-margin-top: 130px; 
}



body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 12px;
}


/* Topbar */
.topbar {
  display: flex;
  flex-direction: column;
  color: #FFF;
  position:fixed; top: 0; right:0; width: 100%;
  z-index: 2;
}


.name-section {
  
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.name-section > span {
  padding: 15px;
  margin-right: 15px;
}


/* nav section */
.topbar > .nav-bar-section > nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.topbar > .nav-bar-section > nav > ul {
  display: flex;
}

ul > li {
  margin-right: 70px; 
}

ul > li > a {
  font-size: 25px;
  white-space: nowrap; 
}

ul > li:hover > a {
  color: #414a82;
}

/* About Me */
.profile{
  /* border: 1px solid red; */
  margin-top: 165px;
}

.profile-section{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile-section > .profile-box{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  height: 350px; width: 800px;
  display: flex;

}

.profile-img{
  flex-grow: 1; flex-basis: 0;
  margin-right: 10px;
  width:100%;

}

.profile-img > img{
  height: 350px ;
  width: 400px;
  object-fit: contain;
}

.profile-content{
  flex-grow: 1; flex-basis: 0;

  display: flex; flex-direction: column;
}

.title{
  font-weight: bold;
}

.name{

  flex-grow: 1; flex-basis: 0;
}

.email{
  flex-grow: 1; flex-basis: 0;
}


.phone{
  flex-grow: 1; flex-basis: 0;
}


.link{
  flex-grow: 1; flex-basis: 0;
  display: flex;
  
}

.link > .linked_In{
  display: flex; align-items: center; 
  margin-left: 10px;
  width: 80px;
}

.link > .resume_downlad{
  flex-grow: 2; flex-basis: 0;
  display: flex; align-items: center; 
}


.link_container> a > .fa-linkedin{
  font-size: 45px; 
  color: #0077b5;

}

.link_container> a > .fa-file-arrow-down{
  font-size: 45px; 
  color: #0077b5;

}

.resume_downlad> a{
  background-color: #151938;
  padding: 10px 10px;
  border-radius: 10px;
  margin-left: 10px;
  color: white;
}

.resume_downlad> a:hover{
  background-color: #414a82;

}

.link_container> a > .fa-file-arrow-down{
  font-size: 30px; 
  /* color: #303030; */
  margin-right: 10px;
  color: white;

}


.about-section{
  text-align: center;
  height: 300px;
}

.about-title{
  font-size: 30px;
  margin-top: 30px;
}

.self-Introduction{
  font-size: 20px;
}



/* Skills */
.Skills-section{
  /* height: 400px; */
  margin-top: 10px;
  /* border: 1px solid red; */
  display: flex; flex-direction: column;
  padding-top: 50px; padding-bottom: 50px;
  
}

.Skills-title{
  font-size: 30px;
  display: flex;
  justify-content: center;  align-items: center;
}

.row{
  display: flex; margin-top: 30px;
  align-items: center; justify-content: center;

}

.row .fa-brands{
  font-size: 50px;
}

.second-row i{
  font-size: 50px;
}

.third-row i{
  font-size: 50px;
}

/* Project */
.project-section{
  margin-top: 50px;
  display: flex; flex-direction: column;
  text-align: center;
}

.Project-title{
  font-size: 30px;

}

.component .swiper{
  margin: 0;
}


.art-slide-box .container{
  width: 1080px; 
  margin-left: auto; margin-right: auto;
}

.art-slide-box  .swiper{
  height: 100%;
  z-index: 1;
}

.pro-btn-box {
border: 1px solid #D3D3D3;
height: 36px;
display: flex; justify-content: center;
align-items: center;
border-radius: 4px;
}

.pro-btn-box:hover {
cursor: pointer;
}


.Project-box{
  height: 460px;
  display: flex; justify-content: center; 
  align-items: center;
}

.project-container{
  display: flex;
}

.project1{
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 500px; width: 450px;
  display: flex; justify-content: center; flex-direction: column;
  text-align: left;
  padding-left: 50px;
  border-radius: 10px;
  margin-left: 50px;
}

.explain-project{
  display: flex; flex-grow: 1;
  flex-basis: 0; 
  align-items: center;
}

/* .explain{
  margin-left: 5px;
} */

.explain > p{
  font-size: 25px;
}

.explain > span{
  font-size: 18px;
}


/* leadership */

.leadership-section{
  margin-top: 50px;
  text-align: center;
  display: flex; flex-direction: column;
}

.Leadership-title{
  font-size: 30px;
}

.Leadership-box{
  height: 460px;
  display: flex; justify-content: center; 
  align-items: center;
}

.Leadership1{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  height: 300px; width: 800px;
  display: flex; justify-content: center; 
  text-align: left;
}

.Likelion{

  width: 300px;
  object-fit: cover; 
}

.Likelion > img {
  width: 300px;
}

.explain-experience{
  display: flex; flex-grow: 1;
  flex-basis: 0; 

  align-items: center;
}

.experience{
  margin-left: 20px;
}

.experience > p{
  font-size: 25px;
}

.experience > .title{
  font-size: 15px;
}


.uump-logo{
  margin-top: 30px;
}