body{
  margin: 0;
  color: 303030;
}

li,ul,a{
  text-decoration: none;
  list-style: none;
  color: inherit;
}


.top-bar{
  width: auto;
  height: 100px;
}

.name-section{
  width: auto;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.top-bar > nav{
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 1px solid red; */
}

.top-bar > nav > ul{
  display: flex;
  /* border: 1px solid orange; */
}

ul> li{
  margin-right: 100px;
  /* border: 1px solid blue; */
  flex-grow: 1;
  flex-basis: 0;
}

.profile-section{
  /* border: 1px solid red; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-section > .profile-box{
  /* border: 1px solid orange; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  height: 350px; width: 800px;
  display: flex;

}

.profile-img{
  /* border: 1px solid green; */
  flex-grow: 1; flex-basis: 0;
  margin-right: 10px;

}

.profile-img > img{
  height: 350px ;
  width: 400px;
  object-fit: contain;
}

.profile{
  /* border: 1px solid green; */
  flex-grow: 1; flex-basis: 0;

  display: flex; flex-direction: column;
}

.title{
  font-weight: bold;
}

.name{
  /* border: 1px solid blue; */
  flex-grow: 1; flex-basis: 0;
}

.email{
  /* border: 1px solid blue; */
  flex-grow: 1; flex-basis: 0;
}


.phone{
  /* border: 1px solid blue; */
  flex-grow: 1; flex-basis: 0;
}


.linked-in{
  /* border: 1px solid blue; */
  flex-grow: 1; flex-basis: 0;
}

.about-section{
  border: 1px solid red;
  text-align: center;
}

.about-title{
  font-size: 30px;
}